<div id="<%= dom_id order %>">
  <p>
    <strong>First name:</strong>
    <%= order.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= order.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= order.email %>
  </p>

  <p>
    <strong>Cell phone:</strong>
    <%= order.cell_phone %>
  </p>

  <p>
    <strong>Home phone:</strong>
    <%= order.home_phone %>
  </p>

  <p>
    <strong>Heard how:</strong>
    <%= order.heard_how %>
  </p>

  <p>
    <strong>Afac boxes:</strong>
    <%= order.afac_boxes %>
  </p>

  <p>
    <strong>Self boxes:</strong>
    <%= order.self_boxes %>
  </p>

  <p>
    <strong>Fulfilled:</strong>
    <%= order.fulfilled %>
  </p>

  <p>
    <strong>Has paid:</strong>
    <%= order.has_paid %>
  </p>

  <p>
    <strong>Comments:</strong>
    <%= order.comments %>
  </p>

</div>
